In [29]:
import pandas as pd

In [30]:
df = pd.read_csv('balance.txt',sep=' ')

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [31]:
# Compare the average income based on ethnicity
ethnicity_income_average = df.groupby('Ethnicity')['Income'].mean()
print("Average Income based on Ethnicity:\n", ethnicity_income_average)

Average Income based on Ethnicity:
 Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [32]:
# Determine who has greater income on average based on marital status: married or single
marital_status_income_average = df.groupby('Married')['Balance'].mean()
print("\nAverage Balance based on Marital Status:\n", marital_status_income_average)

Average Balance based on Marital Status:
 Married
No     13.493509
Yes    13.388473
Name: Balance, dtype: float64

In [33]:
# Point to the highest income in the dataset
highest_income = df['Income'].max()
print("\nHighest Income in the dataset:", highest_income)

Highest Income in the dataset: 186.634

In [34]:
# Point to the lowest income in the dataset
lowest_income = df['Income'].min()
print("Lowest Income in the dataset:", lowest_income)

Lowest Income in the dataset: 10.354

In [35]:
# Number of cards recorded in the dataset
total_cards = df['Cards'].sum()
print("\nTotal number of cards recorded in the dataset:", total_cards)

Total number of cards recorded in the dataset: 1183

In [36]:
# Compare data collected for females vs males
gender_count = df['Gender'].value_counts()
print("\nNumber of Females vs. Males:")
print(gender_count)

Number of Females vs. Males:
Gender
Female    207
Male      193
Name: count, dtype: int64